<h2>Give me your WSDL</h2>
<form method="POST" action="/post" enctype="multipart/form-data">
  File: <input type="file" name="wsdl_file" />
  <br />
  URL: <input type="text" name="wsdl_url" />
  <br />
  <input type="submit" />
</form>
