<!DOCTYPE html>
<html>
  <head>
    <meta chartset="utf-8">
    <title>WSDL Analyzer</title>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>WSDL Analyzer</h1>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>